* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    width: 100vw;
}

.row {
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

section {
    margin-top: 2rem;
}

/* HEADER */
/*
header {
    position: relative;
}
*/
.content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem;
    background-color: #eee;
}

img {
    display: flex;
    height: 100px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

form label {
    display: block;
    margin-bottom: 0.3rem;
}

form input {
    display: block;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 1rem;
}

form a {
    display: block;
    margin-bottom: 0.7rem;
}

button {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 0.7rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    background-color: #0275d8;
    color: #fff;
    width: 200px;
    justify-content: center;
}